<header id="header">
				<h1 id="logo"><a href="/">Cassie Ettinger</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/aboutme.html">About me</a></li>
                        <li><a href="/blog.html">Blog</a></li>
						<li class="submenu">
							<a href="">Research</a>
							<ul>
								<li><a href="/left-sidebar.html">Grassland microbiomes</a></li>
								<li><a href="/right-sidebar.html">Land crab microbiomes</a></li>
								<li><a href="/no-sidebar.html">Metagenomics</a>
								<li class="submenu">
									<a href="#">Seagrass Microbiome</a>
									<ul>
										<li><a href="#">Bacteria</a></li>
										<li><a href="#">Fungi</a></li>
										<li><a href="#">Metagenomics</a></li>
										<li><a href="#">Undergraduate research</a></li>
										
									</ul>
								</li>
							</ul>
						</li>
						<li><a href="#">Outreach</a></li>
						
						<li><a href="/cv.html" class="button special">CV</a></li>
					</ul>
				</nav>
			</header>