<header id="header">
				<h1 id="logo">Cassie Ettinger</h1>
				<nav id="nav">
					<ul>
						<li><a href="/index.html">Home</a></li>
						<li><a href="/aboutme.html">About me</a></li>
                        <li><a href="/blog.html">Blog</a></li>
						<li class="submenu">
							<a href="/research-overview.html">Research</a>
							<ul>
								<li><a href="/left-sidebar.html">The seagrass microbiome</a></li>
								<li><a href="/right-sidebar.html">Seagrass-associated fungi</a></li>
								<li><a href="/no-sidebar.html">Phoronid microbiomes</a>
								<li><a href="#">Grassland Plant Microbiomes</a></li>
								<li><a href="#">Land Crab Microbiomes</a></li>
								
								<li><a href="#">Utilizing Exisiting Datasets</a>
										
								</li>
							</ul>
						</li>
						<li><a href="/outreach.html">Outreach</a></li>
						
						<li><a href="/cv.html" class="button special">CV</a></li>
					</ul>
				</nav>
			</header>